.App {
  text-align: center;
  background-color: rgb(218, 223, 222);
}
.name{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style:oblique;
  color: rgba(181, 90, 176, 0.916);
}
.username{font-size: larger;
font-style: inherit;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.street{
  font-size: larger;
 font-style: italic;
}
.phone{
  font-size:large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.website{
  font-size:larger;
font-family:Arial, Helvetica, sans-serif
}
.bs{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-family: initial;
}